{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>eHostel Portal</title>
	<link rel="stylesheet" href="{% static "base.css" %}" />
</head>
<body>
    <h2>Check Vacancy of Rooms </h2>


    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form action= "{% url 'vacancy' %}" method = "POST"  id="form">
        {% csrf_token %}
        Hostel Name:<br>
        <select id="cars" name ="h_name">
            {% for hostel in all_hostel %}
                <option >{{hostel}}</option>
            {%endfor%}
          </select>
          <br><br>
          Room No: <br>
        <input type="number" name="room_no">   <br><br>
        <input type="submit" value="Submit">
    </form>

    <a href="{%url 'dashboard'%}"> Dashboard  </a> <br>
    <a href="{%url 'logout'%}"> Logout  </a>

    
</body>
</html>